<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.frollo.frollosdk">

    <uses-permission
        android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:networkSecurityConfig="@xml/network_security_config"/>
</manifest>