<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright 2019 Frollo
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.frollo.frollosdksample">

    <application
        android:name=".SampleApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.StartupActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.authentication.LoginActivity"
            android:label="@string/str_login"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.authentication.LoginWebActivity"
            android:label="@string/str_login"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_profile"/>

        <activity
            android:name=".view.aggregation.AccountsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_accounts"/>

        <activity
            android:name=".view.aggregation.TransactionsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_transactions"/>

        <activity
            android:name=".view.aggregation.TransactionDetailsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_transaction_details"/>

        <activity
            android:name=".view.aggregation.TransactionCategoriesActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_transaction_categories"/>

        <activity
            android:name=".view.aggregation.MerchantsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_merchants"/>

        <activity
            android:name=".view.aggregation.ProvidersActivity"
            android:screenOrientation="portrait"
            android:label="@string/str_add_provider"/>

        <activity
            android:name=".view.aggregation.AddProviderAccountActivity"
            android:screenOrientation="portrait"
            android:label="@string/str_add_account"/>

        <activity
            android:name=".view.reports.ReportsAccountsListActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_accounts"/>

        <activity
            android:name=".view.reports.AccountsBalancesActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_balance_reports"/>

        <activity
            android:name=".view.reports.ReportTypesActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_reports"/>

        <activity
            android:name=".view.reports.CurrentTransactionsReportGroupingActivity"
            android:screenOrientation="portrait"
            android:label="@string/str_current_reports"/>

        <activity
            android:name=".view.reports.CurrentTransactionsReportActivity"
            android:screenOrientation="portrait"
            android:label="@string/str_current_reports"/>

        <activity
            android:name=".view.reports.HistoryTransactionsReportGroupingActivity"
            android:screenOrientation="portrait"
            android:label="@string/str_history_reports"/>

        <activity
            android:name=".view.reports.HistoryTransactionsReportActivity"
            android:screenOrientation="portrait"
            android:label="@string/str_history_reports"/>

        <activity
            android:name=".view.bills.BillPaymentsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_bill_payments"/>

        <service android:name=".view.notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>